
<!--<h2>image upload</h2>
<form action="api/upload" method="post" enctype="multipart/form-data">
<input name="myFile" type="file" class="form-control uploadtext"/>
<input name=width value="50%" style="display: none" >
<input name="widgetId" value="123%" style="display: none" ><br>
<button type="submit" class="btn btn-block btn-primary">Upload Images</button>
</form>
<form ng-controller="uploadeController">
<input type="file" ng-model="files" multiple/>
<button ng-click="upload()">Upload</button>
<li ng-repeat="file in files">{{file.name}}</li>
</form>
<script type="text/javascript" src="http://code.angularjs.org/1.2.2/angular.min.js"></script>
https://github.com/rahil471/File-upload-Angular2-Nodejs.git file-upload-demo-->


<div>
<label>Upload Resume File</label>
 <input type = "file" file-model = "myFile"/><br>
   <button ng-click = "uploadFile()">Upload File</button>
   </div>