<div ng-controller="registerController">
<center>
<form class="registerform">
<h2>Signup</h2>
<input ng-model="newuser.name" class="form-control" placeholder="username" name="name" type="text"/>
<input ng-model="newuser.email" class="form-control" placeholder="email" name="email" type="email"/>

<input ng-model="newuser.password" class="form-control" placeholder="password" name="password" type="password"/>
<input ng-model="newuser.password2" class="form-control" placeholder="password again" name="password2" type="password"/>
<input type="hidden" ng-model="newcontact.id" />
<button ng-click="saveContact()" class="btn btn-primary" type="submit">Register</button>
 <div ui-view></div>  
</form>



<table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>password</th>
                <th>password2</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password}}</td>
                <td>{{ user.password2}}</td>
                <td> <a href="javascript:void(0)" ng-click="edit(contact.id)">edit</a> | <a href="javascript:void(0)" ng-click="delete(user.id)">delete</a>

                </td>
            </tr>
        </tbody>
    </table>
</center>
</div>